/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* CSS Header */
/* CSS Menu */

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #000000CC;
    z-index: 1;
}

.content:before{
    position: relative;
    content: "";
    display: block;
    height: 72px;
    width: 100%;
}

.header .container{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-around;
    padding: 0 24px 0 24px;
}

/* CSS left menu */

.left-menu a img{
    height: 72px;
}

/* CSS center menu */

.center-menu{
    width: 100%;
    padding: 0 32px 0 32px;
}

.center-menu ul{
    display: flex;
}

.center-menu ul a{
    color: #f5f5f7;
    line-height: 72px;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0 13px 0 13px;
}

/* CSS Right menu */

.right-menu ul{
    display: flex;
}

.right-menu ul a{
    line-height: 72px;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    color: #f5f5f7;
}

.right-menu ul #user{
    font-size: 24px;
}

.right-menu ul #bars{
    display: none;
}

/* CSS Tablet */
@media screen and (max-width: 1225px){
    .header{
        height: 44px;
    }
    .center-menu{
        display: none;
    }
    .header .container{
        justify-content: space-between !important;
    }
    .right-menu ul #user,
    .right-menu ul #shopping,
    .right-menu ul #cash-money
    {
        display: none;
    }
    .right-menu ul #bars{
        display: block;
    }
    .right-menu ul a{
        line-height: 44px;
    }
    .left-menu a img,
    .header .container{
        height: 44px;
    }
    .content:before{
        position: relative;
        content: "";
        display: block;
        height: 44px;
        width: 100%;
    }
}

/* CSS footer mobile*/

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: #000000CC;
}

.footer i{
    color: #f5f5f7;
}

.footer .container ul{
    display: flex;
    justify-content: space-around;
}

.footer .container a{
    font-size: 20px;
    line-height: 48px;
}

/* css content */
/* css header content */
.content{
    width: 100%;
}
.header-content{
    width: 100%;
    height: 120px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/coffee-beans-top-view-white-background-space-text_176474-5028.webp);
}

/* css box menu */
.header-content .box-menu{
    position: absolute;
    top: 120px;
    left: 10%;
    width: 80%;
    height: 60px;
    background-color: #f5f5f7;
    border-radius: 8px;
}

.title-header{
    text-align: center;
    top: 50px;
    width: 50%;
    height: 60px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 25%;
}

.title-header #char-1{
    color: #ff0000;
    line-height: 60px;
}

.title-header #char-2{
    color: #8a2be2;
    line-height: 60px;
}

.header-content .box-menu .box-item{
    padding: 10px 0 15px 0;
}

.header-content .box-menu{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.header-content .box-menu a{
    font-size: 20px;
}

.header-content .box-menu h3{
    font-size: 12px;
}

/* css menu contents*/

.menu-contents{
    width: 100%;
    padding: 15px;
}

.menu-contents .container .title-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

/* title menu contents */
.menu-contents .container .title-menu h3{
    line-height: 40px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-all{
    padding: 0 8px 0 8px;
    margin-top: 11px;
    border: 1px #000000 solid;
    width: 80px;
    height: 20px;
}

.btn-all .container a{
    display: flex;
    justify-content: space-between;
}

/* css menu contens */
.menu-contents ul{
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.menu-contents ul h3{
    font-weight: 300;
    font-size: 12px;
    padding: 8px 0 8px 0;
}

.menu-contents ul i{
    font-size: 20px;
}

.menu-contents ul li{
    padding: 8px;
}
